.test{
    width: 200px;
    height: 200px;
    background-color: #09c;
    transition-duration: 5s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.test:hover{
    width: 400px;
    height: 400px;
    background-color: tomato;
    rotate: 360deg;
    border-radius: 50%;
}
.container:hover .big{
    background-color: green;
}
.square1{
    width: 100px;
    height: 100px;
    background-color: tomato;
    border: 2px black solid;
    text-align: center;
    display: inline-block;
    font-display: middle;
    transition: 2s 0s;
}
.square2{
    width: 100px;
    height: 100px;
    background-color: tomato;
    border: 2px black solid;
    text-align: center;
    display: inline-block;
    transition: 2s 0.1s;
}
.square3{
    width: 100px;
    height: 100px;
    background-color: tomato;
    border: 2px black solid;
    text-align: center;
    display: inline-block;
    transition: 2s 0.3s;
}
.square4{
    width: 100px;
    height: 100px;
    background-color: tomato;
    border: 2px black solid;
    text-align: center;
    display: inline-block;
    transition: 2s 0.5s;
}
.square5{
    width: 100px;
    height: 100px;
    background-color: tomato;
    border: 2px black solid;
    text-align: center;
    display: inline-block;
    transition: 2s 0.7s;
}
.square6{
    width: 100px;
    height: 100px;
    background-color: tomato;
    border: 2px black solid;
    text-align: center;
    display: inline-block;
    transition: 2s 0.9s;
}
.square7{
    width: 100px;
    height: 100px;
    background-color: tomato;
    border: 2px black solid;
    text-align: center;
    display: inline-block;
    transition: 2s 1.1s;
}
.square8{
    width: 100px;
    height: 100px;
    background-color: tomato;
    border: 2px black solid;
    text-align: center;
    display: inline-block;
    transition: 2s 1.3s;
}
.square9{
    width: 100px;
    height: 100px;
    background-color: tomato;
    border: 2px black solid;
    text-align: center;
    display: inline-block;
    transition: 2s 1.5s;
}
.square10{
    width: 100px;
    height: 100px;
    background-color: tomato;
    border: 2px black solid;
    text-align: center;
    display: inline-block;
    transition: 2s 1.7s;
}

/* Task 2 */
.main {
    background-color: blue;
    position: relative;
    width: 98%;
    height: 700px;
    margin: auto;
}
.circle1 {
    background-color: white;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 25%;
    left: 35%;
    border-radius: 50%;
}
.circle2 {
    background-color: white;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 25%;
    left: 52%;
    border-radius: 50%;
}
.circle3 {
    background-color: white;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 51%;
    left: 35%;
    border-radius: 50%;
}
.circle4 {
    background-color: white;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 51%;
    left: 52%;
    border-radius: 50%;
}
.rhombus {
    background-color:blue;
    position: absolute;
    width: 302px;
    height: 302px;
    top: 30%;
    left: 40%;
    transform: rotate(45deg);
}
.circlemiddle {
    background-color: yellow;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 38%;
    left: 43.5%;
    border-radius: 50%;
}
.container:hover .circlemiddle {
    width: 300px;
    height: 300px;
    background-color: tomato;
    transition-duration: 2s;
}